.footer h5 {
    font-size: 1rem;
    color: #fff;
}

.footer {
    padding-bottom: 30px;
}

/* LIST-ITEM */
.list_item {
    background: transparent !important;
    padding-left: 0 !important;
    border: none !important;
}

.list_item a {
    text-decoration: none;
    color: #fff;
    opacity: 85%;
    font-size: 0.9rem;
}

.list_item a:hover {
    color: #fff;
    opacity: 85%;
}

/* NEWSLETTER */
.newsletter {
    width: 100%;
    border-radius: 50px;
    color: #fff;
    padding: 7px 25px;
    margin: 20px 0px 20px 0px;
    border: none;
    outline: none;
    font-size: 0.8rem;
    background: #343444;
}

::placeholder {
    color: #fff;
    opacity: 85%;
}

.social_links span a  {
    text-decoration: none;
    color: #fff;
    opacity: 85%;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.3s all;
}

.social_links span a:hover {
    color: #e250e5;
    text-decoration: none;
}

.copyright {
    font-size: 0.9rem;
}